
.vs/MidiReader/FileContentIndex/235fdc47-7d49-481a-9b35-7e42b56aa638.vsidx
.vs/MidiReader/FileContentIndex/9c249e76-4857-476c-a270-68fb8f484395.vsidx
.vs/MidiReader/FileContentIndex/abee189b-3ef4-4dc4-959c-c717197464f7.vsidx
.vs/MidiReader/FileContentIndex/afc99609-8901-4b13-b927-1d4561c37101.vsidx
.vs/MidiReader/FileContentIndex/dd1a9bbc-8664-47f9-864e-77f7fe791639.vsidx
.vs/MidiReader/FileContentIndex/e21d904b-2bbb-41ef-98ef-343e7bb8cb77.vsidx
.vs/MidiReader/FileContentIndex/e81310d2-a554-4d47-8dd2-cc6bd104e7dd.vsidx
.vs/MidiReader/FileContentIndex/f67c3d57-0112-44f4-aedb-070d965df1e5.vsidx
.vs/MidiReader/v17/.suo
MidiReaderTests/obj/Debug/net6.0/MidiReaderTest.csproj.AssemblyReference.cache
.vs/MidiReader/FileContentIndex/9c249e76-4857-476c-a270-68fb8f484395.vsidx
.vs/MidiReader/FileContentIndex/abee189b-3ef4-4dc4-959c-c717197464f7.vsidx
.vs/MidiReader/FileContentIndex/afc99609-8901-4b13-b927-1d4561c37101.vsidx
.vs/MidiReader/FileContentIndex/e21d904b-2bbb-41ef-98ef-343e7bb8cb77.vsidx
.vs/MidiReader/v17/.suo
MidiReaderTests/obj/Debug/net6.0/MidiReaderTest.csproj.AssemblyReference.cache
.vs/MidiReader/FileContentIndex/9c249e76-4857-476c-a270-68fb8f484395.vsidx
.vs/MidiReader/FileContentIndex/abee189b-3ef4-4dc4-959c-c717197464f7.vsidx
.vs/MidiReader/FileContentIndex/afc99609-8901-4b13-b927-1d4561c37101.vsidx
.vs/MidiReader/FileContentIndex/e21d904b-2bbb-41ef-98ef-343e7bb8cb77.vsidx
.vs/MidiReader/v17/.suo
MidiReaderTests/obj/Debug/net6.0/MidiReaderTest.csproj.AssemblyReference.cache
.vs/MidiReader/FileContentIndex/9c249e76-4857-476c-a270-68fb8f484395.vsidx
.vs/MidiReader/FileContentIndex/9c249e76-4857-476c-a270-68fb8f484395.vsidx
MidiReaderTests/obj/Debug/net6.0/MidiReaderTest.csproj.AssemblyReference.cache
.vs/MidiReader/v17/.suo
.vs/MidiReader/FileContentIndex/e21d904b-2bbb-41ef-98ef-343e7bb8cb77.vsidx
.vs/MidiReader/FileContentIndex/afc99609-8901-4b13-b927-1d4561c37101.vsidx
.vs/MidiReader/FileContentIndex/abee189b-3ef4-4dc4-959c-c717197464f7.vsidx
.vs/MidiReader/FileContentIndex/9c249e76-4857-476c-a270-68fb8f484395.vsidx
MidiReaderTests/obj/Debug/net6.0/MidiReaderTest.csproj.AssemblyReference.cache
